<div class="modal-header">
    <h4 class="modal-title">Statistiken</h4>
    <button type="button" class="btn-close" (click)="close()"></button>
</div>
<div
    class="modal-body"
    style="height: min(80vh, 2000px); max-height: min(80vh, 2000px)"
>
    <div class="d-flex flex-row w-75 h-100 overflow-hidden">
        <div
            class="me-3 flex-grow-1 flex-shrink-1 h-100 d-flex flex-column overflow-hidden"
        >
            <nav #nav="ngbNav" ngbNav class="nav-tabs">
                <ng-container ngbNavItem="areas">
                    <a ngbNavLink>Einsatzbereiche</a>
                    <ng-template ngbNavContent class="overflow-hidden">
                        <div
                            ngbDropdown
                            class="d-inline-block overflow-hidden"
                            *ngIf="
                                areaStatisticsService.areaSpec$
                                    | async as areaSpec
                            "
                        >
                            <button
                                class="btn btn-outline-primary me-3"
                                title="Bereich für Statistik auswählen"
                                ngbDropdownToggle
                            >
                                <ng-container [ngSwitch]="areaSpec.type">
                                    <app-viewport-name
                                        *ngSwitchCase="'viewport'"
                                        [viewportId]="$any(areaSpec).id"
                                    ></app-viewport-name>
                                    <app-simulated-region-name
                                        *ngSwitchCase="'simulatedRegion'"
                                        [simulatedRegionId]="$any(areaSpec).id"
                                    ></app-simulated-region-name>
                                    <ng-container *ngSwitchCase="'all'">
                                        Gesamt
                                    </ng-container>
                                </ng-container>
                            </button>
                            <div ngbDropdownMenu>
                                <button
                                    ngbDropdownItem
                                    (click)="
                                        areaStatisticsService.setArea({
                                            type: 'all'
                                        })
                                    "
                                >
                                    Gesamt
                                </button>
                                <button
                                    *ngFor="
                                        let viewportId of viewportIds$ | async
                                    "
                                    ngbDropdownItem
                                    (click)="
                                        areaStatisticsService.setArea({
                                            type: 'viewport',
                                            id: viewportId
                                        })
                                    "
                                >
                                    <app-viewport-name
                                        [viewportId]="viewportId"
                                    ></app-viewport-name>
                                </button>
                                <button
                                    *ngFor="
                                        let simulatedRegionId of simulatedRegionIds$
                                            | async
                                    "
                                    ngbDropdownItem
                                    (click)="
                                        areaStatisticsService.setArea({
                                            type: 'simulatedRegion',
                                            id: simulatedRegionId
                                        })
                                    "
                                >
                                    <app-simulated-region-name
                                        [simulatedRegionId]="simulatedRegionId"
                                    ></app-simulated-region-name>
                                </button>
                            </div>
                        </div>
                        <button
                            class="btn btn-sm btn-primary"
                            (click)="statisticsService.updateStatistics()"
                            [disabled]="statisticsService.updatingStatistics"
                        >
                            <span
                                *ngIf="statisticsService.updatingStatistics"
                                class="spinner-border spinner-border-sm"
                            ></span>
                            Aktualisieren
                        </button>

                        <br />
                        <br />
                        <h3>Patienten</h3>
                        <app-stacked-bar-chart
                            *ngIf="patientsStatistics$ | async as statistics"
                            [statistics]="statistics"
                        ></app-stacked-bar-chart>
                    </ng-template>
                </ng-container>
                <ng-container ngbNavItem="hospitals">
                    <a ngbNavLink>Krankenhäuser</a>
                    <ng-template ngbNavContent>
                        <h3>Krankenhäuser</h3>
                        <app-hospital-patients-table></app-hospital-patients-table>
                    </ng-template>
                </ng-container>
            </nav>
            <div
                [ngbNavOutlet]="nav"
                class="mt-2 flex-grow-1 flex-shrink-1 mh-100 overflow-auto statistics-nav-outlet"
                style="min-height: 0"
            ></div>
        </div>
    </div>
</div>
